# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [138]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [139]:
file_path = "../output_data/cities_luz.csv"
cities_df = pd.read_csv(file_path, index_col=0)
cities_df

,City Id,City Name,Country,Latitude,Longitude,Datetime,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed
0,2311968,Nioki,CD,-2.72,17.68,1603675876,72.00,95,100,2.44
1,164947,Salamiyah,SY,35.01,37.05,1603675343,65.12,27,0,6.87
2,4035715,Avarua,CK,-21.21,-159.78,1603675649,77.00,69,69,16.11
3,2110227,Butaritari,KI,3.07,172.79,1603675590,81.41,69,33,8.34
4,2036892,Hohhot,CN,40.81,111.65,1603675877,50.00,25,0,8.95
...,...,...,...,...,...,...,...,...,...,...
560,585227,Qax,AZ,41.42,46.92,1603675995,55.40,82,99,6.93
561,3577154,Oranjestad,AW,12.52,-70.03,1603675996,84.20,79,40,19.46
562,2520645,Cabra,ES,37.47,-4.44,1603675906,59.00,87,20,6.93
563,1638368,Kaili,ID,-3.46,120.21,1603675996,78.98,77,98,3.24
564,380348,Abū Zabad,SD,12.35,29.25,1603675996,76.50,28,0,10.78

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [140]:
gmaps.configure(api_key=g_key)

In [151]:
#From Heatmap documentation
#This piece of code was taken from gmaps documentation
locations = cities_df[['Latitude', 'Longitude']]
weights = cities_df['Humidity (%)']
fig = gmaps.figure(center=(0, 0), zoom_level=1)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [152]:
#My ideal temperature to take vacations is from 80 to 87 Fahrenheit degrees
#Cloudiness from 5 to 10% (I don't like too sunny places!)
#Wind speed < 10 mph
ideal_vac_cities_df = cities_df.loc[(cities_df['Max Temp (F)']>77) & (cities_df['Max Temp (F)']<90) 
                                & (cities_df['Cloudiness (%)']>0) & (cities_df['Cloudiness (%)']<15)
                                & (cities_df['Wind Speed']<10)
                                   ]
ideal_vac_cities_df

,City Id,City Name,Country,Latitude,Longitude,Datetime,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed
267,2276492,Harper,LR,4.38,-7.72,1603675933,77.56,89,4,7.07
378,4001056,La Orilla,MX,17.98,-102.23,1603675824,80.46,89,1,5.35
385,4034551,Faanui,PF,-16.48,-151.75,1603675957,79.72,73,2,7.05
443,4738723,Uvalde,US,29.37,-99.77,1603675965,78.80,65,1,5.82

In [153]:
#Dropping rows in case there are null values
ideal_vac_cities_df.dropna()

,City Id,City Name,Country,Latitude,Longitude,Datetime,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed
267,2276492,Harper,LR,4.38,-7.72,1603675933,77.56,89,4,7.07
378,4001056,La Orilla,MX,17.98,-102.23,1603675824,80.46,89,1,5.35
385,4034551,Faanui,PF,-16.48,-151.75,1603675957,79.72,73,2,7.05
443,4738723,Uvalde,US,29.37,-99.77,1603675965,78.80,65,1,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [154]:
#Copying the clean ideal cities for vacation in the holel DataFrame hotel_df
hotel_df = ideal_vac_cities_df.copy()
#Adding "Hotel Name" column with empty values
hotel_df['Hotel Name']=''

In [155]:
#Setting general parameters to search for hotels with 5000 meters radius in each city
#For hotels, Google's target type is 'lodging'
target_type = "lodging"
radius = 5000

#Using Google Places nearby option as we're searching for hotels in a certain area
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [156]:
hotel_df

,City Id,City Name,Country,Latitude,Longitude,Datetime,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed,Hotel Name
267,2276492,Harper,LR,4.38,-7.72,1603675933,77.56,89,4,7.07,
378,4001056,La Orilla,MX,17.98,-102.23,1603675824,80.46,89,1,5.35,
385,4034551,Faanui,PF,-16.48,-151.75,1603675957,79.72,73,2,7.05,
443,4738723,Uvalde,US,29.37,-99.77,1603675965,78.80,65,1,5.82,

In [157]:
#Iterating in each row to get hotel with 5000 radius of city's latitude and longitude
for row in hotel_df.itertuples(index=False):
    #print(row[3])
    coords = f"{row[3]}, {row[4]}"
    params = {
        "location": coords,
        "types" : target_type,
        "radius": radius,
        "key": g_key
    }
    #Managing exceptions as there may be places without query results
    try:
        response = requests.get(base_url, params=params).json()
        hotel_df.loc[hotel_df['City Id'] == row[0], 'Hotel Name'] = response["results"][0]["name"]
        #hotel_df['Hotel'] = response["results"][0]["name"]
        #print(response["results"][0]["name"])
    except:  
        hotel_df.loc[hotel_df['City Id'] == row[0], 'Hotel Name'] = 'No Hotel Found'
        print(f"MISSING VALUES: There are no search results for hotels in {row[1]}")
        continue

MISSING VALUES: There are no search results for hotels in Uvalde

In [158]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [165]:
# Add marker layer ontop of heat map
#marker_locations = locations
#fig.add_layer(gmaps.heatmap_layer(locations, weights=hotel_df['Humidity (%)']))
#fig

# Display Map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))